{% extends 'base.html' %}

{% block head %}
<div class="row justify-content-md-center">
  <div class="col-lg-9 ml-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">Home</a></li>

        <!-- for search results !-->
        {% if search_keyword %}
          <li class="breadcrumb-item active">Search: {{ search_keyword }}</li>
        {% endif %}

        <!-- for categories !-->
        {% if category %}
          <li class="breadcrumb-item {% if not brand %}active{% endif %}">
            {% if brand %}
              <a href="{{ url_for('main.products', category=category.name) }}">{{ category.name }}</a>
            {% else %}
              {{ category.name }}
            {% endif %}
          </li>
        {% endif %}
        
        <!-- for brands !-->
        {% if brand %}
        <li class="breadcrumb-item active">{{ brand.name }}</li>
        {% endif %}
      </ol>
    </nav>
  </div>
</div>
{% endblock %}

{% block main %}
<section class="pt-5 pb-3">
  <div class="row justify-content-md-center">
    <div class="col-lg-9">
      <div class="section-header d-flex flex-wrap justify-content-between mb-3">
        <h2 class="section-title">
          {% if search_keyword %}
            Search results for "{{ search_keyword }}"
          {% elif brand %}
            {{ brand.name }}
          {% else %}
            {{ category.name }}
          {% endif %}
        </h2>
      </div>
      <div class="row justify-content-md-left g-4">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4 pb-3">
          <a href="{{url_for('main.product_detail', product_id=product.id)}}">
            <div class="card h-100">
              <img src="{{url_for('static', filename='img/'+product.images[0].filename)}}" class="card-img-top home-card-image" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.description}}</p>
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-8 d-flex">
                    {% for _ in range(average_rating_map[product.id]) %}
                      <i class="fas fa-star"></i>
                    {% endfor %}
                    {% for _ in range(5 - average_rating_map[product.id]) %}
                      <i class="far fa-star"></i>
                    {% endfor %}
                    <!-- this might cause performance issue when the number of reviews is large -->
                    <p>({{ product.reviews | length }})</p>
                  </div>
                  <div class="col-4 d-flex justify-content-end">
                    <p class="card-text">${{product.price}}</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
